body{
background-color:#0843a0;
}
.center{
text-align:center;
}
#logo{
height:400px;
width:600px;
margin-top:-30px;
}
#tree{
height:160px;
position:fixed;
bottom:0px;
width:100%;
left:-3px;
}
