body{
background-color:#ffffff; 
margin:0;
padding:0;   
}
img.le{
height:100px;
width:95px;
margin-left:10px;
}
img.cen{
height:100px;
position:absolute;
margin-top:5px;
right:45%;
}
img.ri{
position:absolute;
right:0;
height:100px;
margin-right:10px;
}
img.le1{
height:100px;
margin-top:70px;
margin-left:10px;
}
img.cen1{
height:100px;
position:absolute;
margin-top:5px;
right:46%;
margin-top:70px;
}
img.ri1{
position:absolute;
right:0;
height:100px;
margin-right:10px;
margin-top:70px;
}
.div-inline
{
display:inline;
}