/*@font-face
{
font-family:"DroidSansFallback";
src:url('../font/font-DroidSansFallback/DroidSansFallback.ttf');
}*/
body{
margin:0;
padding:0;
height:100%;
//font-family:"DroidSansFallback";
}
#header{
background-color:#0843a0;
text-align : center;
border-bottom:1px solid #000000;
height:64px;
width:100%;
position:fixed;
top:0;
z-index:5;
}
#header img{
padding-top:10px;
height:55px;
width:300px;
}
#driverh{
background-color:#ffffff;
position:fixed;
width:100%;
height:35px;
top:65px;
z-index:5;
}
#driverh p{
text-align: center;
margin:0;
padding:5px;
font-size:21px;
font-weight:bold;
border-bottom:1px solid #000000;
}
#subheader{
background-color:#e6e6e6;
position:fixed;
width:100%;
top:101px;
z-index:5;
}
#subheader p{
text-align: center;
margin:0;
padding:5px;
font-size:26px;
font-weight:bold;
border-bottom:1px solid #000000;
}
#root{
background-color:#0843a0;
height:50px;
width:100%;
position:fixed;
bottom:0;
line-height:50px;
z-index:5;
border-top:1px solid #000000;
}
#left{
height:47px;
width:4%;
position:fixed;
left:0;
margin-left:5px;
}
#center{
height:47px;
width:4%;
position:fixed;
left:48%;
}
#right{
height:47px;
width:4%;
position:fixed;
right:0;
margin-right:5px;
}